<section class="container">
  <h2 class="title">Transferências</h2>
  <table class="table" *ngIf="transfers.length; else noItems">
    <thead class="table__header">
      <th class="table__header__content">Data</th>
      <th class="table__header__content">Conta</th>
      <th class="table__header__content">Valor</th>
    </thead>
    <tbody>
      <tr class="table__item" *ngFor="let transfer of transfers">
        <td class="table__content">{{ transfer.date | date: "short" }}</td>
        <td class="table__content">{{ transfer.recipient }}</td>
        <td class="table__content">{{ transfer.amount | currency }}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #noItems>
    <section class="no-items">
      <p>Sem registros para exibir!</p>
    </section>
  </ng-template>
</section>
